.blog-container {
  max-width: 1024px;
}

.blog-post-title {
  font-family: "Fitalia", cursive;
  font-size: 48px;
  text-align: center;
}

.blog-post-subtitle {
  text-align: center;
  margin: 16px 0;
}
