@import "../components/variables.scss";

.blog-container {
  max-width: 1024px;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    max-height: 800px;
  }
}

.blog-post-title {
  font-family: "Fitalia", cursive;
  font-size: 48px;
  text-align: center;
}

.blog-post-subtitle {
  text-align: center;
  margin: 16px 0;
}

.blog-post-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #333;
}

.blog-post-featured-image-container {
  margin: 48px 0;
}

.blog-post-sign-up-section {
  margin: 64px 0 84px 0;

  .signup-section {
    @extend .depth-0;
    background: transparent;
    padding: 0;
  }
}
