.about-page-lead {
  font-size: 28px;
  margin: 60px auto;
  text-align: center;
  width: 66%;
}

.about-subsection {
  padding: 0 10%;

  h3 {
    font-family: 'Eczar', serif;
  }
}

.paypal-container {
  display: flex;
  justify-content: center;

  .paypal-button {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #2b2b2b;
    padding: 8px 22px;
    border-radius: 2px;
    transition: box-shadow 200ms ease-in-out;

    &:hover {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
  }
}

.live-stream-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p.live-stream-loading-message {
    margin-bottom: 48px;
  }
}

.credits-headline {
  font-size: 32px;
  margin-bottom: 16px;
}

.credits-list {
  list-style-type: disc;
  margin-left: 40px;
}

.missionaries-container {
  margin: 120px 0;
}

@media only screen and (max-width: 767px) {
  .about-subsection {
    padding: 0;
  }
}
