.featured-images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
  margin: 32px;
}

.grid-1 {
  grid-row: span 2;
  grid-column: 1;
}

.grid-2 {
  grid-row: 1;
  grid-column: 2;
}

.grid-3 {
  grid-row: 2;
  grid-column: 2;
}

.grid-4 {
  grid-row: span 2;
  grid-column: 3;
}

.featured-image-caption {
  font-weight: bold;
  margin-top: 12px;
}

.featured-image-secondary-caption {
  margin-left: 4px;
  font-weight: normal;
  color: #999;
}

.about-page-lead {
  font-size: 28px;
  margin: 60px auto;
  text-align: center;
  width: 66%;
}

.about-subsection {
  padding: 0 10%;

  h3 {
    font-family: 'Eczar', serif;
  }
}

.credits-headline {
  font-size: 32px;
  margin-bottom: 16px;
}

.credits-list {
  list-style-type: disc;
  margin-left: 40px;
}

.about-me-intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;

  h2 {
    margin-bottom: 72px;
  }

  img {
    max-width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .about-subsection {
    padding: 0;
  }

  .about-me-intro {
    img {
      max-width: 100%;
    }
  }

  .featured-images-wrapper {
    display: block;
    margin: 32px 8px;

    > * {
      margin-bottom: 32px;
    }
  }
}
