@import "./variables.scss";

.comments-container {
  border-top: 3px solid #333;
  max-width: 1024px;
  margin: 0 auto;
}

.comments-comment-count {
  margin: 48px auto;
}

.comment-form-container {
  @extend .depth-1;
  background: $color-primary;
  border-radius: 3px;
  padding: 32px;
  margin: 48px auto;
  max-width: 1024px;
}

.comment-form-fields {
  display: flex;
  justify-content: space-between;
}

.comment-form-section {
  width: 45%;
  display: flex;
  flex-direction: column;

  > label {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
  }
}

.comment-form-submit-button {
  width: 33%;
  margin: 24px auto;
  display: block;
  border: none;
}

.comment-container {
  margin-bottom: 4rem;
}

.comment-title-container {
  align-items: center;
  display: flex;
  margin-bottom: 1.6rem;
}

.comment-meta-data {
  font-size: 1.2rem;
}

.comment-message {
  border-left: 1px solid #333;
  font-size: 1.2rem;
  margin-left: 2.2rem;
  padding: 1.6rem;
}

.comment-avatar {
  align-items: center;
  background-color: $brand-logo-primary;
  border-radius: 50%;
  display: flex;
  font-size: 2rem;
  height: 60px;
  justify-content: center;
  margin-right: 1.8rem;
  padding: 0.8rem;
  width: 60px;
}

@media screen and (max-width: 767px) {
  .comment-form-fields {
    flex-direction: column;
  }
  .comment-form-submit-button,
  .comment-form-section {
    width: 100%;
  }

  .comment-form-section:first-of-type() {
    margin-bottom: 24px;
  }

  .comment-avatar {
    margin-right: 1.2rem;
  }

  .comment-message {
    margin-left: 0.8rem;
  }
}
