@import "./variables.scss";

.signup-section {
  @extend .depth-1;
  background-color: $color-primary;
  padding: 32px;
}

.form {
  margin: 0 auto;
  text-align: center;
  margin: 32px auto;
  max-width: 768px;
}

.signup-fieldset {
  border: 2px solid #c0c0c0;
  padding: 16px;
}

.form-submit {
  @extend .button-base;
  margin: 32px 0 8px 0;
  border: none;
}

@media only screen and (min-width: 768px) {
  .form {
    margin: 0 auto;
    padding: 32px;
  }
}
