// Fix Me
.is-in-past {
  opacity: 0.5;
}

.event-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.expired-event-tag {
  border: 2px solid #ffc107;
  padding: 4px 8px;
  background: #ffc107;
  color: #fff;
}

article.event-list-item.tile {
  div {
    a.event-button {
      background: transparent;
      border: 2px solid #1d3754;
      color: #1d3754;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      min-width: 150px;
      padding: 8px 32px;
      transition: background 300ms ease-in-out, color 300ms ease-in-out;
      text-decoration: none;

      &:hover {
        background: #1d3754;
        color: #fff;
      }
    }
  }
}

.event-meta-data-container {
  > * {
    margin: 8px 0;
  }
  .event-date-text {
    font-size: 20px;
  }

  .event-location-text {
    font-weight: bold;
  }

  .event-description-text {
    font-style: italic;
  }
}

@media only screen and (max-width: 767px) {
  .event-buttons-container {
    flex-direction: column;
    align-items: center;

    .event-button {
      text-align: center;
      width: 100%;
    }
  }

  .expired-event-tag {
    margin: 16px 0 0 auto;
    padding: 2px 4px;
  }
}
