footer.footer {
  border-top: 1px solid #333;
  padding: 3rem 0;
  background-color: #fff;
}

.footer-slogan {
  font-weight: 600;
  text-align: center;
  margin: 32px 0;
}

.footer-group-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-link {
  color: #333;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  padding: 12px 0;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 48px;
}

.copyright {
  font-size: 14px;
  text-align: center;
}

.created-by {
  font-size: 14px;
  padding: 12px 0;
}

@media only screen and (max-width: 767px) {
  .footer-group-container {
    flex-direction: column;
    text-align: center;
  }
}
