footer.footer {
  padding: 3rem 0rem;
  background-color: #1d3754;
}

.footer-list-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .footer-list-group {
    margin-bottom: 32px;

    h4 {
      color: #fff;
      font-size: 24px;
      margin: 0 0 24px 0;
    }
  }

  .footer-link-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color: #fff;
      margin-bottom: 8px;
    }

    a {
      color: #9e9e9e;
      text-decoration: none;
      transition: all 200ms ease-in-out;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }

    .phone-link {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }

    .visit-us-link {
      color: #fff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  color: #fafafa;
  font-size: 12px;
  text-align: center;

  .copyright-link {
    color: #fafafa;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social {
  padding: 1rem 5rem 0 5rem;
  display: flex;
  justify-content: flex-end;

  .social-icon {
    filter: invert(0.5);
    margin-right: 32px;
    transition: filter 300ms ease-in-out;

    &:hover {
      filter: invert(1);
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer-list-container {
    flex-direction: column;
    text-align: center;
  }
}
