.nav-container {
  background-color: #fff;
  border-bottom: 1px solid #797a7e;
  height: 125px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
}

.nav-home-link {
  border-bottom: 1px solid #333;
  display: block;
  font-family: "SimpleScript", cursive;
  font-size: 24px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: #333;
  opacity: 1;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

.nav-other-links {
  padding: 8px 0;
}

.nav-item {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 16px;
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.15s ease-in;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

.nav-item-active {
  color: #797a7e;
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  .nav-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .nav-container {
    height: 68px;
  }

  .nav-home-link {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .nav-other-links {
    padding: 0;
  }
}
