.picture-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  > * {
    flex-basis: 50%;
  }
}
.picture-cta {
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
  text-align: center;
  overflow: hidden;

  &:first-of-type {
    margin-right: 32px;
  }

  & > .picture-cta-background {
    transform: scale(1);
    transition: all 200ms ease-in-out;
    background-position: 50% center;
    background-size: cover;
    padding-top: 66%;
  }

  &:hover {
    .picture-cta-background {
      transform: scale(1.2);
    }
  }
}

.picture-overlay {
  align-items: center;
  background: rgba(29, 55, 84, 0.5);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  left: 0;
  padding: 0 16px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-in-out;

  & span {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    min-width: 150px;
    min-height: 50px;
    padding: 8px 32px;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    background: rgba(29, 55, 84, 0.75);
    cursor: pointer;
  }

  &:hover {
    span {
      background: #fff;
      color: #212121;
    }
  }
}

@media only screen and (max-width: 767px) {
  .picture-container {
    flex-direction: column;
    flex-wrap: nowrap;

    .picture-cta {
      &:first-of-type {
        margin-right: 0;
      }
    }

    .picture-overlay {
      font-size: 32px;
    }
  }
}
