.portfolio-list-item {
  background: #fafafa;
  padding: 3.2rem;
  margin-bottom: 6.4rem;
  border-radius: 0.2rem;
}

.portfolio-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.portfolio-button {
  background: transparent;
  border: 2px solid #d4af37;
  color: #d4af37;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  min-width: 150px;
  padding: 8px 32px;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  text-decoration: none;

  &:hover {
    background: #d4af37;
    color: #fff;
    text-decoration: none;
  }
}

.portfolio-meta-data-container {
  > * {
    margin: 8px 0;
  }
  .portfolio-date-text {
    font-size: 20px;
  }

  .portfolio-description-text {
    font-style: italic;
  }
}

.post-meta {
  margin-bottom: 32px;
}

@media only screen and (max-width: 767px) {
  .portfolio-list-item {
    padding: 1.6rem;
    margin-bottom: 3.2rem;
  }

  .portfolio-buttons-container {
    flex-direction: column;
    align-items: center;

    .portfolio-button {
      text-align: center;
      width: 100%;
    }
  }
}
