.staff-members-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;

  .staff-member {
    flex-basis: 22%;

    .staff-image-container {
      border-radius: 50%;
      width: 100%;
      position: relative;
      background: url() 50% 50% no-repeat;
      background-size: cover;
      background-clip: content-box;

      &:before {
        display: block;
        content: '';
        padding-top: 100%;
      }
    }
  }

  .staff-member-name-title {
    margin: 24px 0 48px 0;
    h3 {
      font-size: 32px;
    }

    h6 {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .staff-members-container {
    flex-direction: column;
    margin-bottom: 0;

    .staff-member {
      max-width: 85%;
      margin: 0 auto 120px auto;
    }
  }
}

@media only screen and (min-width: 769px) {
  .staff-members-container {
    .staff-member-name-title {
      h3 {
        font-size: 2.5vw;
      }

      h6 {
        font-size: 2vw;
      }
    }
  }
}
